<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the apple mobile web app capable -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the apple mobile web app status bar style -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- set the description -->
	<meta name="description" content="TIANNA | Onepage HTML5 Template ">
	<meta name="keywords" content="agency, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">
	<!-- Page Title -->
	<title> 云镜漏扫 </title>
	<link href="/static/index/css/css.css" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/static/index/css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/static/index/css/plugin-resets.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/static/index/css/style.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/static/index/css/responsive.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/static/index/css/colors.css">
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!---<div class="loader-container" id="pre-loader"><div class="loader"><img src="/static/index/picture/ball-triangle.svg" alt="loader"></div></div>--->
		<!-- header of the page -->
		<header id="header">
			<div class="header-holder">
				<!-- main logo of the page -->
				<div class="logo">
					<a href="#"><img src="/static/index/picture/yjlogo.png" alt="Yunjing"></a>
				</div>
				<!-- main logo of the page end -->
				<!-- nav of the page -->
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="smooth" href="#wrapper">首页</a></li>
							<li><a class="smooth" href="#about">关于云镜</a></li>
							<li><a class="smooth" href="#features">产品创新</a></li>
							<li><a class="smooth" href="#works">核心功能</a></li>
							<li><a class="smooth" href="#team">团队介绍</a></li>
							<li><a class="smooth" href="#pricing">成果支撑</a></li>
							<li><a class="smooth" href="#future">未来发展</a></li>
							<li class="signup"><a href="login">登录</a></li>
						</ul>
					</div>
				</nav>
				<!-- nav of the page end -->
				<!-- <a href="tel:12345678910" class="tel"><i class="fa fa-phone"></i>+12 345 678 910</a> -->
			</div>
		</header>
		<!-- header of the page end -->
		<!-- main of the page -->
		<main id="main" role="main">
			<!-- main slider of the page -->
			<section class="main-slider">
				<div class="slide parallax overlay" style="background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
					<div class="caption text-center">
						<div class="wow bounceIn" data-wow-delay="1.2s">
							<h1> <span class="color">云镜</span> <br>漏洞扫描平台</h1>
							<span class="txt italic">你的代码安全测试专家.</span>
							<a href="../regist" class="btn-info white">注册</a>
						</div>
					</div>
				</div>
			</section>
			<!-- main slider of the page end -->
			<!-- About section of the page -->
			<section class="bg-white pad-blg" id="about">
				<div class="container">
					<div class="row">
						<header class="main-heading col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pad-tlg2 pad-blg2 wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase">关于<span class="color">云镜</span></h2>
							<p>云镜是一个用于扫描源代码潜在漏洞的代码安全测试平台，主要针对C、C++、Assemble语言；可以快速发现并定位软件源代码中的漏洞函数以及漏洞代码行，极大提升了代码的安全性.</p>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<!-- Icon box of the page -->
							<article class="icon-box text-right right mar-blg wow fadeInLeft" data-wow-delay="0.6s">
								<span class="fa fa-heart color"></span>
								<h2 class="text-uppercase">漏洞扫描</h2>
								<p>云镜提供源代码漏洞扫描服务，在开发阶段协助工程师及时发现<span class="color">软件源代码缺陷</span>，避免造成严重的网络安全问题和经济损失。 </p>
							</article>
							<!-- Icon box of the page end -->
							<!-- Icon box of the page -->
							<article class="icon-box text-right right mar-blg wow fadeInRight" data-wow-delay="0.6s">
								<span class="fa fa-bullseye color"></span>
								<h2 class="text-uppercase">便于使用</h2>
								<p>云镜部署在云端服务器，用户使用时<span class="color">无需部署测试环境</span>，点击链接即可进行漏洞扫描，提升效率，降低测试用户的使用成本。 </p>
							</article>
							<!-- Icon box of the page end -->
						</div>
						<div class="col-xs-12 col-sm-2 hidden-xs">&nbsp;</div>
						<div class="col-xs-12 col-sm-5">
							<!-- Icon box of the page -->
							<article class="icon-box mar-blg wow fadeInLeft" data-wow-delay="0.6s">
								<span class="fa fa-wrench color"></span>
								<h2 class="text-uppercase">快速检测</h2>
								<p>通过优化算法和模型，云镜可提供<span class="color">40万行代码/1小时</span>的高效检测能力，相对于其它源代码漏洞扫描工具，提升了漏洞的扫描效率。 </p>
							</article>
							<!-- Icon box of the page end -->
							<!-- Icon box of the page -->
							<article class="icon-box mar-blg wow fadeInRight" data-wow-delay="0.6s">
								<span class="fa fa-users color"></span>
								<h2 class="text-uppercase">高精确率</h2>
								<p>在公共标准数据集上的实验结果显示，云镜的漏洞检测准确率高达<span class="color">95.93%</span>，漏洞的平均定位误差降低至<span class="color">0.95行</span>代码。 </p>
							</article>
							<!-- Icon box of the page end -->
						</div>
					</div>
				</div>
			</section>
			<!-- About section of the page end -->
			<!-- Feature Section of the page -->
			<section class="bg-grey pad-blg" id="features">
				<div class="container">
					<div class="row">
						<header class="main-heading col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pad-tlg2 pad-blg2 wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase">产品<span class="color">创新</span></h2>
							<p>云镜漏扫平台始终追求卓越与创新，通过长时间多轮实验反复论证分析，研发出目前最先进的漏洞检测模型，实现了技术上的重要突破，并完成下列四大创新。</p>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<!-- Icon box of the page end -->
							<article class="icon-box mar-blg wow fadeInLeft" data-wow-delay="0.6s">
								<span class="fa fa-desktop"></span>
								<h2 class="text-uppercase">对比代码表征学习</h2>
								<p>首次提出<span class="color">监督对比代码表征学习</span>模型，结合源代码数据增强技术，学习、计算正负样本之间的距离，从而进行漏洞分类与检测. </p>
							</article>
							<!-- Icon box of the page end -->
							<!-- Icon box of the page -->
							<article class="icon-box mar-blg wow fadeInUp" data-wow-delay="0.6s">
								<span class="fa fa-wpforms"></span>
								<h2 class="text-uppercase">汇编代码切片分析</h2>
								<p>拥有目前最先进的<span class="color">汇编代码切片</span>分析技术，保留漏洞对应的汇编表征，融合源代码漏洞语义，协助检测源代码中无法扫描出的漏洞.</p>
							</article>
							<!-- Icon box of the page end -->
						</div>
						<div class="col-xs-12 col-sm-2 hidden-xs">&nbsp;</div>
						<div class="col-xs-12 col-sm-5">
							<!-- Icon box of the page -->
							<article class="icon-box mar-blg wow fadeInRight" data-wow-delay="0.6s">
								<span class="fa fa-support"></span>
								<h2 class="text-uppercase">多粒度级漏洞检测</h2>
								<p>云镜提出多细粒度级别的漏洞检测方法，先预测漏洞大致范围，及所属<span class="color">函数</span>，再针对指定函数，扫描并定位函数的<span class="color">漏洞行</span>.</p>
							</article>
							<!-- Icon box of the page end -->
							<!-- Icon box of the page -->
							<article class="icon-box mar-blg wow fadeInUp" data-wow-delay="0.6s">
								<span class="fa fa-code"></span>
								<h2 class="text-uppercase">真实漏洞代码预测</h2>
								<p>经过多轮实验测试，云镜在真实代码(<span class="color">NVD</span>)环境中成功检测出多个已经报送的<span class="color">CVE</span>漏洞，证明其有发掘真实漏洞的能力。</p>
							</article>
							<!-- Icon box of the page end -->
						</div>
					</div>
				</div>
			</section>
			<!-- Feature Section of the page end -->
			<!-- Work Section of the page -->
			<section class="bg-White pad-blg" id="works">
				<div class="container">
					<div class="row">
						<header class="main-heading col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pad-tlg2 pad-blg2 wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase">核心<span class="color">功能</span></h2>
							<p>云镜根据扫描用户上传的源程序, 得到程序中的漏洞名称/类型、漏洞函数和漏洞代码行，并结合NVD索引列表，查询得到该漏洞的漏洞编号、对应的漏洞描述、漏洞危害等级以及CVSS评分。</p>
						</header>
					</div>
				</div>
			</section>
			<!-- Work Section of the page end -->
			<!-- Counter Section of the page -->
			<section class="bg-grey pad-blg pad-blg2">
				<div class="container">
					<div class="row">
						<!-- num counter of the page -->
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 num-counter text-center wow fadeInLeft" data-wow-delay="0.6s">
							<span class="fa fa-eye"></span>
							<h1><span class="color">C</span></h1>
							<!-- <span class="txt text-uppercase">Movies</span> -->
						</div>
						<!-- num counter of the page end -->
						<div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 hidden-xs hidden-sm">&nbsp;</div>
						<!-- num counter of the page -->
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 num-counter text-center wow fadeInUp" data-wow-delay="0.6s">
							<span class="fa fa-laptop"></span>
							<h1><span class="color">C++</span></h1>
							<!-- <span class="txt text-uppercase">TV series</span> -->
						</div>
						<!-- num counter of the page end -->
						<div class="col-xs-12 col-sm-4 col-md-1 col-lg-3 hidden-xs hidden-sm">&nbsp;</div>
						<!-- num counter of the page -->
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 num-counter text-center wow fadeInRight" data-wow-delay="0.6s">
							<span class="fa fa-github-alt"></span>
							<h1><span class="color">Assembly</span></h1>
							<!-- <span class="txt text-uppercase">Registered users</span> -->
						</div>
						<!-- num counter of the page end -->
					</div>
				</div>
			</section>
			<!-- Counter Section of the page end -->
			<!-- Testimonial Section of the page -->
			<section class="bg-white pad-tlg2">
				<div class="container">
					<div class="row">
						<div class="main-heading col-xs-12 col-sm-6 pad-blg wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase">云镜的基本<span class="color">使用</span>流程</h2>
							<p>注册一个账号->登录->上传源代码(单个/批量)->选择一个模型->开始扫描->得到结果->信息导出. </p>
						</div>
						<div class="col-xs-12 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">
							<!-- test slider of the page -->
							<div class="test-slider text-center mar-bmd">
								<!-- slide of the page -->
								<div class="slide">
									<img src="/static/index/picture/img12.jpg" alt="image description" class="img-round">
									<div class="text">
										<p>给定一个完整的源程序，预测源程序中可能<br>存在漏洞的函数.</p>
										<span class="name"><strong>漏洞函数</strong></span>
									</div>
								</div>
								<!-- slide of the page end -->
								<!-- slide of the page -->
								<div class="slide">
									<img src="/static/index/picture/img12.jpg" alt="image description" class="img-round">
									<div class="text">
										<p>在漏洞函数的基础上进一步细化检测结果，<br>输出该程序中的漏洞代码行.</p>
										<span class="name"><strong>漏洞行号</strong></span>
									</div>
								</div>
								<!-- slide of the page end -->
								<!-- slide of the page -->
								<div class="slide">
									<img src="/static/index/picture/img12.jpg" alt="image description" class="img-round">
									<div class="text">
										<p>给出漏洞名称/类型，及该漏洞的CWE ID或CVE ID.</p>
										<span class="name"><strong>漏洞类型</strong></span>
									</div>
								</div>
								<!-- slide of the page end -->
								<!-- slide of the page -->
								<div class="slide">
									<img src="/static/index/picture/img12.jpg" alt="image description" class="img-round">
									<div class="text">
										<p>结合NVD数据库评价该漏洞的危害级别：高危、<br>中危及低危.</p>
										<span class="name"><strong>危害等级</strong></span>
									</div>
								</div>
								<!-- slide of the page end -->
								<!-- slide of the page -->
								<div class="slide">
									<img src="/static/index/picture/img12.jpg" alt="image description" class="img-round">
									<div class="text">
										<p>描述导致该漏洞的成因.</p>
										<span class="name"><strong>漏洞描述</strong></span>
									</div>
								</div>
								<!-- slide of the page end -->
							</div>
							<!-- test slider of the page -->
						</div>
					</div>
				</div>
			</section>
			<!-- Testimonial Section of the page end -->
			<!-- Team Section of the page -->
			<section class="bg-grey pad-blg" id="team">
				<div class="container">
					<div class="row">
						<header class="main-heading col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pad-tlg2 pad-blg2 wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase"><span class="color">团队</span>详情</h2>
							<p>“啊对对对对对对对对对对对队”专注于漏洞检测、深度学习、软件安全等领域，主要研究软件源代码智能检测算法和模型，致力于消除代码中的所有潜在漏洞.</p>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInLeft" data-wow-delay="0.6s">
							<!-- team of the page -->
							<div class="team">
								<div class="img">
									<img src="/static/index/picture/img13.jpg" alt="img" class="img-responsive">
									<!-- <div class="over">
										<ul class="icons list-inline text-center">
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-pinterest"></a></li>
											<li><a href="#" class="fa fa-youtube"></a></li>
										</ul>
									</div> -->
								</div>
								<div class="box bg-white">
									<span class="name text-uppercase">漏洞检测</span>
									<p>源代码漏洞智能化检测</p>
								</div>
							</div>
							<!-- team of the page end -->
						</div>
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInUp" data-wow-delay="0.6s">
							<!-- team of the page -->
							<div class="team">
								<div class="img">
									<img src="/static/index/img/DL.jpg" alt="img" class="img-responsive">
									<!-- <div class="over">
										<ul class="icons list-inline text-center">
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-pinterest"></a></li>
											<li><a href="#" class="fa fa-youtube"></a></li>
										</ul>
									</div> -->
								</div>
								<div class="box bg-white">
									<span class="name text-uppercase">深度学习</span>
									<p>深度神经网络、对比学习</p>
								</div>
							</div>
							<!-- team of the page end -->
						</div>
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInRight" data-wow-delay="0.6s">
							<!-- team of the page -->
							<div class="team">
								<div class="img">
									<img src="/static/index/img/SS.jpg" alt="img" class="img-responsive">
									<!-- <div class="over">
										<ul class="icons list-inline text-center">
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-pinterest"></a></li>
											<li><a href="#" class="fa fa-youtube"></a></li>
										</ul>
									</div> -->
								</div>
								<div class="box bg-white">
									<span class="name text-uppercase">程序分析</span>
									<p>漏洞代码语义表征分析</p>
								</div>
							</div>
							<!-- team of the page end -->
						</div>
					</div>
				</div>
			</section>
			<!-- Team Section of the page end -->
			<!-- Skills Section of the page -->
			<section class="bg-white pad-tlg2 pad-blg pad-blg2 skills">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4 wow bounceIn" data-wow-delay="0.6s">
							<span class="fa fa-gears"></span>
						</div>
						<div class="col-xs-12 col-sm-8">
							<header class="main-heading text-right mar-blg2 wow bounceIn" data-wow-delay="0.6s">
								<h2 class="heading text-uppercase">标准数据集测试<span class="color">结果</span></h2>
								<p>下图为云镜在公共标准数据集上的测试结果:<br>Software Assurance Reference Dataset (SARD).</p>
							</header>
							<!-- progress bar of the page -->
							<ul class="progress-bar list-unstyled wow fadeInUp" data-wow-delay="0.6s" id="progress-bar">
								<li>
									<span class="bar"><span data-percent="95.93%" class="over"></span></span>
									<span class="txt text-uppercase">Accuracy</span>
									<span class="num">95.93%</span>
								</li>
								<li>
									<span class="bar"><span data-percent="95.10%" class="over"></span></span>
									<span class="txt text-uppercase">F1-measure</span>
									<span class="num">95.10%</span>
								</li>
								<li>
									<span class="bar"><span data-percent="2.1%" class="over"></span></span>
									<span class="txt text-uppercase">FPR</span>
									<span class="num">2.1%</span>
								</li>
								<li>
									<span class="bar"><span data-percent="0.8%" class="over"></span></span>
									<span class="txt text-uppercase">FNR</span>
									<span class="num">0.8%</span>
								</li>
							</ul>
							<!-- progress bar of the page end -->
						</div>
					</div>
				</div>
			</section>
			<!-- Skills Section of the page end -->
			<!-- Video Section of the page -->
			{% comment %} <section class="video overlay">
				<video poster="/static/index/img/img16.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
					<source src="./video.mp4" type="video/mp4">
				</video>
				<div class="container" id="polina">
					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="text">
								<button class="fa fa-play-circle-o"></button>
								<h2>Watch This Video</h2>
							</div>
						</div>
					</div>
				</div>
			</section> {% endcomment %}
			<!-- Video Section of the page end -->
			<!-- Pricing Section of the page -->
			<section class="bg-grey" id="pricing">
				<div class="container">
					<div class="row">
						<header class="main-heading col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center pad-tlg2 pad-blg wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase"><span class="color">成果</span>支撑</h2>
							<p style="padding-bottom:20px">拥有多项论文、专利、竞赛获奖、创新项目以及软件著作权，作为云镜漏扫平台的支撑成果。</p>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInLeft" data-wow-delay="0.6s">
							<!-- Price plan of the page -->
							<ul class="price-plan list-unstyled">
								<li class="title bg-white text-capitalize">学术论文</li>
								<li class="price"><span class="digit">5</span>已发表/审稿中的论文</li>
								<li>1.中科院二区(JCR Q1, 已发表)</li>
								<li>2.MSN(CCF C国际会议，已发表)</li>
								<li>3.北大核心期刊(已录用)</li>
								<li>4.IEEE TC期刊(CCF A, 审稿中)</li>
								<li>5.IEEE TDSC期刊(CCF A, 审稿中)</li>
								<!-- <li><a href="#" class="signup">Sign up</a></li> -->
							</ul>
							<!-- Price plan of the page end -->
						</div>
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInUp" data-wow-delay="0.6s">
							<!-- Price plan of the page -->
							<ul class="price-plan list-unstyled active">
								<li class="title bg-whitee text-capitalize">竞赛/项目</li>
								<li class="price"><span class="digit">4</span>竞赛获奖/获批项目</li>
								<!-- <li>“华为杯”三等奖</li> -->
								<li>1.网络技术挑战赛三等奖</li>
								<li>2.大学生“挑战杯”铜奖</li>
								<li>3.校级研究生创新项目</li>
								<li>......</li> 
								<li>......</li>
							</ul>
							<!-- Price plan of the page end -->
						</div>
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInRight" data-wow-delay="0.6s">
							<!-- Price plan of the page -->
							<ul class="price-plan list-unstyled">
								<li class="title bg-whitee text-capitalize">专利/软著</li>
								<li class="price"><span class="digit">2</span>申请专利/获批软著</li>
								<li>1.基于汇编语言和深度学习的漏洞定位系统</li>
								<li>2.源代码缓冲区溢出漏洞检测检测系统V1.0</li>
								<li>......</li> 
								<li>......</li>
								<li>......</li>
							</ul>
							<!-- Price plan of the page end -->
						</div>
					</div>
				</div>
			</section>
			<!-- Pricing Section of the page end -->
			<!-- Client Section of the page -->
			<section class="bg-white pad-tlg2 pad-blg2" id="future">
				<div class="container">
					<div class="row">
						<header class="main-heading col-xs-12 col-sm-6 pad-blg wow bounceIn" data-wow-delay="0.6s">
							<h2 class="heading text-uppercase">未来<span class="color">发展</span></h2>
							<p>云镜未来将会适配更多编程语言的漏洞检测，如java、python、php等等，针对具体漏洞,结合大模型给出相应的修复建议.</p>
						</header>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- Client slider of the page -->
							<div class="client-slider wow fadeInUp" data-wow-delay="0.6s">
								<div class="slide">
									<img src="/static/index/picture/img17.png" alt="image description" style="width:170px; height:60px;">
									<img src="/static/index/picture/img18.png" alt="image description" style="width:170px; height:60px;">
									<img src="/static/index/picture/img19.png" alt="image description" style="width:170px; height:60px;">
									<img src="/static/index/picture/img20.png" alt="image description" style="width:170px; height:60px;">
								</div>
								<div class="slide">
									<img src="/static/index/picture/img17.png" alt="image description" style="width:170px; height:60px;">
									<img src="/static/index/picture/img18.png" alt="image description" style="width:170px; height:60px;">
									<img src="/static/index/picture/img19.png" alt="image description" style="width:170px; height:60px;">
									<img src="/static/index/picture/img20.png" alt="image description" style="width:170px; height:60px;">
								</div>
							</div>
							<!-- Client slider of the page end -->
						</div>
					</div>

					<div class="row" style="padding-top: 50px">
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInLeft" data-wow-delay="0.6s">
							<!-- team of the page -->
							<div class="team">
								<div class="img">
									<img src="/static/index/img/future1.jpg" alt="img" class="img-responsive">
									<!-- <div class="over">
										<ul class="icons list-inline text-center">
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-pinterest"></a></li>
											<li><a href="#" class="fa fa-youtube"></a></li>
										</ul>
									</div> -->
								</div>
								<div class="box bg-white">
									<span class="name text-uppercase">语言扩展</span>
									<p>扩展云镜支持的编程语言类型</p>
								</div>
							</div>
							<!-- team of the page end -->
						</div>
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInUp" data-wow-delay="0.6s">
							<!-- team of the page -->
							<div class="team">
								<div class="img">
									<img src="/static/index/img/future2.jpg" alt="img" class="img-responsive">
									<!-- <div class="over">
										<ul class="icons list-inline text-center">
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-pinterest"></a></li>
											<li><a href="#" class="fa fa-youtube"></a></li>
										</ul>
									</div> -->
								</div>
								<div class="box bg-white">
									<span class="name text-uppercase">数据扩充</span>
									<p>采集更多训练数据，覆盖更多漏洞类型</p>
								</div>
							</div>
							<!-- team of the page end -->
						</div>
						<div class="col-xs-12 col-sm-4 text-center mar-bmd wow fadeInRight" data-wow-delay="0.6s">
							<!-- team of the page -->
							<div class="team">
								<div class="img">
									<img src="/static/index/img/future3.jpg" alt="img" class="img-responsive">
									<!-- <div class="over">
										<ul class="icons list-inline text-center">
											<li><a href="#" class="fa fa-twitter"></a></li>
											<li><a href="#" class="fa fa-facebook"></a></li>
											<li><a href="#" class="fa fa-pinterest"></a></li>
											<li><a href="#" class="fa fa-youtube"></a></li>
										</ul>
									</div> -->
								</div>
								<div class="box bg-white">
									<span class="name text-uppercase">漏洞修复</span>
									<p>基于大模型技术开发漏洞修复建议模块</p>
								</div>
							</div>
							<!-- team of the page end -->
						</div>
					</div>
				</div>
			</section>
			<!-- Client Section of the page end -->
			<!-- Contact Section of the page （联系模块）-->
			<!-- <section class="bg-grey pad-blg2 pad-tlg2" id="contact">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-7 wow fadeInLeft" data-wow-delay="0.6s">
							<form action="#" class="contact-form">
								<fieldset>
									<input type="text" name="name" placeholder="Name...">
									<input type="text" name="email" placeholder="Email...">
									<input type="text" name="Subject" placeholder="Subject...">
									<textarea cols="10" rows="10" name="message" placeholder="Message..."></textarea> 
									<input type="submit" name="submit" value="submit">
								</fieldset>
							</form>
						</div>
						<div class="col-xs-12 col-sm-5 wow fadeInRight" data-wow-delay="0.6s">
							<header class="main-heading text-right mar-blg2 wow bounceIn" data-wow-delay="0.6s">
								<h2 class="heading text-uppercase">get in<span class="color">touch</span></h2>
								<p>Lorem ipsum dolor sit amet, velit<br> urna. Metus ornare est erat feugiat<br> egestas vulputate.</p>
							</header>
							<ul class="contact-list list-unstyled text-right">
								<li>Tianna Corp 2016 Broadway st. NY, KS23 9UY United States <i class="fa fa-map-o" aria-hidden="true"></i></li>
								<li><span class="tell">+1 234 567 89 10 <br>+0 123 456 78 90</span> <i class="fa fa-volume-control-phone" aria-hidden="true"></i></li>
								<li><span class="email"><a href="mailto:yourcompany@mail.com">yourcompany@mail.com</a> <br><a href="mailto:yourcompany@mail.com">yourcompany@mail.com</a></span> <i class="fa fa-send" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</section> -->
			<!-- Contact Section of the page end -->
		</main>
		<!-- main of the page end -->
		<!-- footer of the page -->
		<footer id="footer" class="pad-tlg2">
			<!-- Copyright of the page -->
			<div class="copyright pad-tsm pad-bsm">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<p>Copyright &copy; 云镜漏扫:你的代码安全测试专家.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Copyright of the page end -->
		</footer>
		<!-- footer of the page end -->
		<!-- Back Top of the page -->
	    <span id="back-top" class="fa fa-chevron-up"></span>
		<!-- <div class="logmod">
			<div class="logmod__wrapper">
				<span class="logmod__close popup-opener">Close</span>
				<div class="logmod__container">
					<ul class="logmod__tabs">
						<li data-tabtar="lgm-2"><a href="#">Login</a></li>
						<li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>
					</ul>
					<div class="logmod__tab-wrapper">
						<div class="logmod__tab lgm-1">
							<div class="logmod__heading">
								<span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
							</div>
							<div class="logmod__form">
								<form accept-charset="utf-8" action="#" class="simform">
									<div class="sminputs">
										<div class="input full">
											<label class="string optional">Email*</label>
											<input class="string optional" maxlength="255" id="user-email2" placeholder="Email" type="email" size="50">
										</div>
									</div>
									<div class="sminputs">
										<div class="input string optional">
											<label for="user-pw" class="string optional">Password *</label>
											<input class="string optional" maxlength="255" id="user-pw" placeholder="Password" type="text" size="50">
										</div>
										<div class="input string optional">
											<label for="user-pw-repeat" class="string optional">Repeat password *</label>
											<input class="string optional" maxlength="255" id="user-pw-repeat" placeholder="Repeat password" type="text" size="50">
										</div>
									</div>
									<div class="simform__actions">
										<button class="sumbit" name="commit">Create Account</button>
										<span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank">Terms & Privacy</a></span>
									</div>
								</form>
							</div>
							<div class="logmod__alter">
								<div class="logmod__alter-container">
									<a href="#" class="connect facebook">
										<div class="connect__icon">
											<i class="fa fa-facebook"></i>
										</div>
										<div class="connect__context">
											<span>Create an account with <strong>Facebook</strong></span>
										</div>
									</a>
									
									<a href="#" class="connect googleplus">
										<div class="connect__icon">
											<i class="fa fa-google-plus"></i>
										</div>
										<div class="connect__context">
											<span>Create an account with <strong>Google+</strong></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="logmod__tab lgm-2">
							<div class="logmod__heading">
								<span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>
							</div>
							<div class="logmod__form">
								<form accept-charset="utf-8" action="#" class="simform">
									<div class="sminputs">
										<div class="input full">
											<label class="string optional">Email*</label>
											<input class="string optional" maxlength="255" id="user-email" placeholder="Email" type="email" size="50">
										</div>
									</div>
									<div class="sminputs">
										<div class="input full">
											<label for="user-pw" class="string optional">Password *</label>
											<input class="string optional" maxlength="255" id="user-pw2" placeholder="Password" type="password" size="50">
											<span class="hide-password">Show</span>
										</div>
									</div>
									<div class="simform__actions">
										<button class="sumbit" name="commit">Log In</button>
										<span class="simform__actions-sidetext"><a class="special" href="#">Forgot your password?<br>Click here</a></span>
									</div>
								</form>
							</div>
							<div class="logmod__alter">
								<div class="logmod__alter-container">
									<a href="#" class="connect facebook">
										<div class="connect__icon">
											<i class="fa fa-facebook"></i>
										</div>
										<div class="connect__context">
											<span>Sign in with <strong>Facebook</strong></span>
										</div>
									</a>
									<a href="#" class="connect googleplus">
										<div class="connect__icon">
											<i class="fa fa-google-plus"></i>
										</div>
										<div class="connect__context">
											<span>Sign in with <strong>Google+</strong></span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- include jQuery -->
	<script src="/static/index/js/jquery.js"></script>
	<!-- include jQuery -->
	<script src="/static/index/js/plugins.js"></script>
	<!-- include jQuery -->
	<script src="/static/index/js/jquery.main.js"></script>
	<script type="text/javascript">
		var vid = document.getElementById("bgvid");
		var pauseButton = document.querySelector("#polina button");

		function vidFade() {
		  vid.classList.add("stopfade");
		}

		vid.addEventListener('ended', function()
		{
		// only functional if "loop" is removed 
		vid.pause();
		// to capture IE10
		vidFade();
		}); 


		pauseButton.addEventListener("click", function() {
		  vid.classList.toggle("stopfade");
		  if (vid.paused) {
		    vid.play();
		    // pauseButton.innerHTML = "Pause";
		  } else {
		    vid.pause();
		    // pauseButton.innerHTML = "Paused";
		  }
		})
	</script>
</body>
</html>