<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>云镜漏扫</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- 图标 -->
        <link href="/static/index/img/favicon.ico" rel="icon">
        <link href="/static/index/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Bootstrap CSS 文件 -->
        <link href="/static/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- 库 CSS 文件 -->
        <link href="/static/index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/index/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/static/index/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- 主样式表文件 -->
        <link href="/static/index/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- 顶部导航栏 -->
    <header id="header" class="header-scrolled">
            <div class="container-fluid">

                <div id="logo" class="pull-left">
                    <!-- Uncomment below if you prefer to use text logo -->
                    <!-- <h1><a href="index.html" class="scrollto">Tech Conference</a></h1> -->
                    <a href="../"><img src="/static/index/img/yjLogo.png" alt="Logo" /></a>
                </div>


				<nav id="nav-menu-container">
                    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                        <li><a href="../">首页</a></li>
                        <li><a href="../about">工具介绍</a></li>
                        <li class="menu-active"><a href="../speaker">核心技术</a></li>
                        <li><a href="../agenda">检测流程</a></li>
                        <li><a href="../venue">产品优势</a></li>
                        <li><a href="../ticket">适用语言</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->

            </div>
        </header>
<!-- 顶部导航栏结束 -->

       <!-- Speaker Section Start -->
        <section id="speaker">
            <div class="container">
                <header class="section-header">
                    <h3>核心技术</h3>
                </header>
                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/index/img/核心技术1.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols content-cols-right">
                        <div class="content-col">
                            <h3>覆盖全面的漏洞类型</h3>
                            <p>
                                筋斗云使用SARD测试用例中的Juliet C/C++ 1.3作为深度学习模型训练的数据集，该数据集涵盖了118种不同的CWE
                                漏洞案例，共拥有60499个测试用例，包含目前99%的导致安全问题的代码缺陷漏洞。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 img-cols d-block d-md-none">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/index/img/code slice.svg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols  content-cols-left">
                        <div class="content-col">
                            <h3>先进的程序切片和代码分析手段</h3>
                            <p>
                                不同于基于源代码的漏洞检测工具，筋斗云采用汇编代码(二进制代码)作为直接检测对象，并通过切片技术对汇编代码以
                                函数为单位切片，用于下一步的分析。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 img-cols d-none d-md-block">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/index/img/核心技术2.jpg">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 img-cols">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/index/img/核心技术3.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 content-cols content-cols-right">
                        <div class="content-col">
                            <h3>自研的高性能深度学习模型</h3>
                            <p>
                                筋斗云利用汇编代码的地址信息与源代码行号之间的映射关系，搭建特定的深度学习模型，充分学习漏洞代码特征，实现
                                对漏洞代码高精度与高效率检测。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 content-cols  content-cols-left">
                        <div class="content-col">
                            <h3>高效精确的漏洞定位能力</h3>
                            <p>
                                目前代码漏洞检测的细粒度分为程序级、函数级和代码切片级三种，其精细程度无法满足工作中的使用。筋斗云将漏洞检
                                测的细粒度实现至代码行级别，即输入待检测的代码，输出存在漏洞的行号，拥有极高的漏洞定位能力。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 img-cols d-none d-md-block">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/index/img/核心技术4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Speaker Section End -->

        <!-- Footer Start -->
        <footer id="footer">
<!--            <div class="footer-top">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="social-links">-->
<!--                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
<!--                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>-->
<!--                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
<!--                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="container">
                <br>
                <div class="copyright">
                    &copy; 云镜漏扫：你的代码安全测试专家！
                </div>
            </div>
        </footer>
        <!-- Footer end -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- Uncomment below i you want to use a preloader -->
        <!-- <div id="preloader"></div> -->

        <!-- JavaScript Libraries -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/jquery/jquery-migrate.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/easing/easing.min.js"></script>
        <script src="vendor/superfish/hoverIntent.js"></script>
        <script src="vendor/superfish/superfish.min.js"></script>
        <script src="vendor/waypoints/waypoints.min.js"></script>
        <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
        <script src="vendor/touchSwipe/jquery.touchSwipe.min.js"></script>

        <!-- Main Javascript File -->
        <script src="js/main.js"></script>

    </body>
</html>
