<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>云镜漏扫</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- 图标 -->
        <link href="/static/index/img/favicon.ico" rel="icon">
        <link href="/static/index/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Bootstrap CSS 文件 -->
        <link href="/static/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- 库 CSS 文件 -->
        <link href="/static/index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/index/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/static/index/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- 主样式表文件 -->
        <link href="/static/index/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- 顶部导航栏 -->
    <header id="header" class="header-scrolled">
            <div class="container-fluid">

                <div id="logo" class="pull-left">
                    <!-- Uncomment below if you prefer to use text logo -->
                    <!-- <h1><a href="index.html" class="scrollto">Tech Conference</a></h1> -->
                    <a href="../"><img src="/static/index/img/yjLogo.png" alt="Logo" /></a>
                </div>

		<!-- #nav-menu-container -->

				<nav id="nav-menu-container">
                    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                        <li><a href="../">首页</a></li>
                        <li><a href="../about">工具介绍</a></li>
                        <li><a href="../speaker">核心技术</a></li>
                        <li><a href="../agenda">检测流程</a></li>
                        <li class="menu-active"><a href="../venue">产品优势</a></li>
                        <li><a href="../ticket">适用语言</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->

            </div>
        </header>
<!-- 顶部导航栏结束 -->

        <div class="container">
            <div style = "padding-top: 70px">

            </div>
        </div>

          <!-- Venue Section Start -->
        <section id="venue">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-col">
                            <img class="img-fluid" src="/static/index/img/codeline.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 des-cols">
                        <div class="des-col">
                            <h2>产品优势</h2>
                            <p>
                                代码漏洞检测的细粒度分为4个级别，由粗到细排序为：程序/文件级、函数/方法级、代码切片级和代码行级。筋斗云采用代码行级的漏洞检测，其检测对象为完整的源代码/汇编代码，输出结果为目标代码的漏洞行号。对30000+个测试用例的检测结果显
                                示，筋斗云漏洞检测准确率高达97%，且在漏洞定位上实现了平均0.78行的误差。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Venue Section End -->

        <div class="container">
            <div style = "padding-top: 407px">

            </div>
        </div>

        <!-- Footer Start -->
        <footer id="footer">
<!--            <div class="footer-top">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="social-links">-->
<!--                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
<!--                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>-->
<!--                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>-->
<!--                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="container">
                <br>
                <div class="copyright">
                    &copy; 云镜漏扫：你的代码安全测试专家！
                </div>
            </div>
        </footer>
        <!-- Footer end -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- Uncomment below i you want to use a preloader -->
        <!-- <div id="preloader"></div> -->

        <!-- JavaScript Libraries -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/jquery/jquery-migrate.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/easing/easing.min.js"></script>
        <script src="vendor/superfish/hoverIntent.js"></script>
        <script src="vendor/superfish/superfish.min.js"></script>
        <script src="vendor/waypoints/waypoints.min.js"></script>
        <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
        <script src="vendor/touchSwipe/jquery.touchSwipe.min.js"></script>

        <!-- Main Javascript File -->
        <script src="js/main.js"></script>

    </body>
</html>
